@import '../../styles/global.scss';

.react-card-flip {
    height: 250px;
    margin-bottom: 12px;

    .MuiPaper-elevation1 {
        height: 100%;
        overflow: auto;

        .MuiCardHeader-title {
            color: $onyx;
            font-family: monospace;
            font-size: 30px;
        }
    
            img {
            margin-bottom: 0;
            width: 100%;
            object-fit: contain;
        }
    }
}

    