@import '../../styles/global.scss';

.react-card-flip {
    height: 32.5%;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    .orange-card {
        background-color: $coral;
        height: 100%;
        overflow: auto;
    }

    .grey-card {
        background-color: $platinum;
        height: 100%;
        overflow: auto;
    }

    .MuiCardHeader-title {
        text-align: center;
        color: $onyx;
        font-family: monospace;
        font-size: 30px;
    }

    .back-content {
        color: $onyx;
        &__title {
            font-weight: bold;
        }
        &__date {
            font-style: italic;
            font-size: 16px;
        }

        legend {
            font-size: 1.25rem;
        }
        
        .MuiRating-iconFilled {
            color: $skobeloff;
        }
        
    }
}