@import '../../styles/global.scss';

.react-card-flip {
    height: 33.3%;

    .orange-card {
        background-color: $orange;
        height: 100%;
    }

    .grey-card {
        background-color: $lightGrey;
        height: 100%;
    }

    .card__title {
        text-align: center;
        color: white;
        margin: 35%;
    }

    .back-content {
        color: white;
        &__title {
            font-size: 17px;
        }

        &__sub-title {
            font-size: 15px;
            font-style: italic;
        }
    }

    .MuiCardContent-root:last-child {
        padding-bottom: 0;
        margin: 15px;
    }
}