@import '../styles/global.scss';

.orange-cards {
    .MuiPaper-elevation1 {
        background-color: $coral;

        .medium-paper {
            background-color: $cultured;
            padding: 10px;
        }
    }
}

