$onyx: #39393A;
$raisinBlack: #252323;
$slateGray: #70798C;
$cultured: #F9F8F8;
$platinum: #E6E6E6;
$coral: #FF8552;
$skobeloff: #297373;
$aquamarine: #85FFC7;

.main-container {
    margin: 20px;
}

.Typist {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: monospace;
    color: $onyx;
}